<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div>
        <div style="width: 85vw">
            <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1">
                    <div>
                        <mat-form-field>
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" #input>
                        </mat-form-field>
                    </div>
                </div>
                <div class="ml-auto">
                    <button style="height: 60px; color: white;" mat-flat-button color="accent" matTooltip="Srap data">
                        <mat-icon style="font-size: 21px;">refresh</mat-icon>
                    </button>
                </div>
            </div>
            <mat-table class="table-container mat-elevation-z8" matSort aria-label="TestDataSource">

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">Name</mat-header-cell>
                    <mat-cell (click)="openSelection(row)" *matCellDef="let row">{{ row.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">Price</mat-header-cell>
                    <mat-cell (click)="openSelection(row)" *matCellDef="let row">{{ row.price }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="picture">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">
                        Picture
                    </mat-header-cell>
                    <mat-cell (click)="openSelection(row)" *matCellDef="let row"><span class="mobile-label"></span>{{
                        row.picture }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="restaurantId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">
                        Restaurant
                    </mat-header-cell>
                    <mat-cell (click)="openSelection(row)" *matCellDef="let row"><span class="mobile-label"></span>{{
                        row.restaurantId
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="w-50">
                        Date
                    </mat-header-cell>
                    <mat-cell (click)="openSelection(row)" *matCellDef="let row"><span class="mobile-label"></span>{{
                        row.date
                        }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></mat-row>
            </mat-table>
            <div class="mat-paginator-container">
                <mat-paginator #paginator [length]="dataSource?.data?.length" hidePageSize="true" [pageIndex]="0"
                    [pageSize]="5" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>