/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$custom-accent-palette: (
    50 : #edf4fe,
    100 : #d3e4fd,
    200 : #b6d2fc,
    300 : #98bffa,
    400 : #82b2f9,
    500 : #6ca4f8,
    600 : #649cf7,
    700 : #5992f6,
    800 : #4f89f5,
    900 : #3d78f3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dae5ff,
    A700 : #c0d3ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-primary-palette: (
    50 : #feeded,
    100 : #fdd3d3,
    200 : #fbb6b6,
    300 : #f99898,
    400 : #f88282,
    500 : #f76c6c,
    600 : #f66464,
    700 : #f55959,
    800 : #f34f4f,
    900 : #f13d3d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd8d8,
    A700 : #ffbebe,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-typography: mat.define-typography-config($font-family: "Carme, serif",
    );

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette($custom-accent-palette);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((color:(primary: $custom-primary,
                accent: $custom-accent,
                warn: $custom-warn,
            ),
            typography:$custom-typography,
        ));

@include mat.all-component-themes($custom-theme);