.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #f86c6c;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #fd3232;
    font-weight: bolder;
}